// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #7210D4 !default;
$header-bg-color-secondary: #0EAEB9 !default;

// Text
$section-headings-color: #0EAEB9 !default;
$body-text-color: #525252 !default;
$body-link-color: #0EAEB9 !default;
$body-link-color-hover: #07767C;
$blockquote-text-color: #C0C0C0 !default;

// Code
$code-bg-color: #E2E2E2 !default;
$code-text-color: #35666D !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
